[user]
	email = xxxx@xxx
	username = kAlmAcetA
	name = kAlmAcetA
[alias]
	ci = commit
	co = checkout
	lc = log ORIG_HEAD.. --stat --no-merges
	undo=reset --hard
	llog = log --date=local
	changes=diff --name-status -r
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	st = status
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	ui = auto
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green bold
	plain = red bold
[color "status"]
	added = yellow
    changed = green bold
    untracked = blue bold
