[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-pyflake8"]
	path = .vim/bundle/vim-pyflake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/jshint"]
	path = .vim/bundle/jshint
	url = https://github.com/Shutnik/jshint2.vim.git
